@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

body {
    background: linear-gradient(0deg, #ffffff 6%, #ecf000 84%);
}
.nav-link {
    color: rgb(255, 255, 255);
}

.navbar-nav .nav-link.active {
    color: rgb(255, 255, 255);
}

.navbar-brand img {
width: 80px;
}
.navbar-toggler {
background-color: rgb(255, 255, 255);
}

.sidebar {
    color: rgb(0, 0, 0);
 background: linear-gradient(0deg, #ffffff 6%, #6adce0 84%);  
}

@import url();

.navbar {
    background-color:  #449ea1;
}

.card {
    background: linear-gradient(0deg, #ffffff 6%, #6adce0 84%);  
}

.card a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.but-text {
    color: black;
    margin:auto auto;
}

.coll-anim {
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}







